// STYLEGUIDE
$col-primary: hsl(223, 87%, 63%)
$col-primary-pale: hsl(223, 100%, 88%)
$col-error: hsl(354, 100%, 66%)
$col-neutral-dark: hsl(209, 33%, 12%)
$col-neutral-light: hsl(0, 0%, 59%)

$font-stack: 'Libre Franklin', Helvetica, sans-serif
$font-weight-light: 300
$font-weight-regular: 600
$font-weight-bold: 700
$font-base-size: 20px

/*
 * BASE LAYOUT
 */
*
  box-sizing: border-box
  font-family: $font-stack
body
  margin: 0
  font-size: $font-base-size
  text-align: center
  padding: 80px 25px 0 25px
  min-height: 100vh
  max-width: 100%
  display: flex
#wrapper
  width: 100%
  min-height: 100%
  max-width: 640px
  margin: 0 auto
h1
  font-size: 1em
  font-weight: $font-weight-light
  color: $col-neutral-light
  margin-bottom: 15px
p
  font-size: 0.6em
.emphasis
  font-weight: $font-weight-bold
  color: $col-neutral-dark

// HEADER
.logo
  height: 16px
  margin-bottom: 20px

// FORM
form
  margin-top: 15px
  padding: 20px
input, button
  display: block
  width: 100%
  margin-bottom: 10px
  border-radius: 100px
  padding: 12px 30px
  font-size: 0.6em
  transition: 0.2s ease-in-out
input
  border: 1px solid #d0d0d0
  color: $col-neutral-dark
input::placeholder
  color: #d0d0d0
input:hover, input:focus
  border-color: $col-neutral-light
  outline: none
button
  border: none
  background: $col-primary
  color: white
  font-weight: $font-weight-regular
  -moz-box-shadow: 0px 5px 10px $col-primary-pale
  -webkit-box-shadow: 0px 5px 10px $col-primary-pale
  box-shadow: 0px 5px 10px $col-primary-pale
button:hover
  cursor: pointer
  opacity: 0.8
button:focus
  opacity: 0.8
  outline: none
button:active
  opacity: 1

// VALIDATION
form .error
  color: $col-error
  display: inline-block
  font-style: italic
  font-size: 0.5em
  margin-bottom: 15px
form .input-error
  border: 1px solid $col-error
  color: $col-neutral-dark
  font-style: normal
  margin-bottom: 0px

// IMAGE
.img-hero
  margin-top: 40px
  max-width: 100%

// FOOTER
footer
  position: absolute
  margin-top: 60px
  margin-bottom: 50px
  width: calc(100% - 50px)
  max-width: 640px
footer ul
  padding: 0 0 10px 0
  list-style-type: none
footer ul li
  display: inline-block
  margin: 0 5px
footer ul li a
  padding: 6px 8px
  font-size: 0.7em
  color: $col-primary
  border: 1px solid #d0d0d0
  border-radius: 50px
  transition: 0.2s ease-in-out
footer ul li:first-of-type a
  padding: 6px 10px
footer ul li a:hover
  background: $col-primary
  color: white
  border-color: $col-primary
.fineprint
  font-size: 0.5em
  color: $col-neutral-light


/*
 * MAJOR BREAKPOINT
 * Over 550px wide
 */
@media screen and (min-width: 550px)
  h1
    font-size: 2.3em
  p
    font-size: 1em
  .logo
    height: 25px
  form
    display: grid
    grid-template-columns: 1fr 200px
    padding: 20px 0 30px 0
  input, button
    display: inline
    width: 100%
    font-size: 0.8em
    padding: 20px 30px
  button
    margin-left: 10px
  form .error
    display: block
    grid-row: 2 / span 1
    margin-bottom: 0
    margin-left: 30px
    font-size: 0.7em
    text-align: left
  form .input-error
    margin-bottom: 10px
  footer
    margin-top: 50px
    margin-bottom: 50px
  .fineprint
    font-size: 0.6em
